.layout-nav-type-vertical .layout-vertical-nav .nav-link > a.router-link-active::after {
  position: absolute;
  border-radius: inherit;
  background: transparent;
  content: "";

  opacity: 1;

  top: -60%;
  right: -15%!important;
  height: 0;


  border-top: solid 50px transparent;
  border-right: solid 76px #ecedf1;
  border-bottom: solid 50px transparent;
  border-left: solid 0px transparent;
  border-radius: 100%;
  border-top-left-radius: 40px 40px;
}