@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');
body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.7;
	color: #c4c3ca;
	// background: url('https://images.unsplash.com/photo-1490818387583-1baba5e638af?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29taWRhJTIwZm9uZG8lMjBibGFuY298ZW58MHx8MHx8fDA%3D');
  background: url('http://10.10.10.69:8000/images/background/login/01.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
a {
	cursor: pointer;
  transition: all 200ms linear;
  &:hover {
	  text-decoration: none;
  }
}
.link {
  color: #c4c3ca;
  &:hover {
  color: #ffeba7;
  }
}
.card{
  box-shadow: 0px 10px 15px 5px #3d3d3d54!important;
}
p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}
h4 {
  font-weight: 600;
}
.card-body{
  height:70vh;
}
.card-title {
  font-family: 'Rowdies', sans-serif;
  font-weight: bold;
  font-size: 50px;
  width: auto;
  & > div{
    transition: all ease .5s;
    display: flex;
  }
  .form-title__part1{
    color: #CF6123;
    margin-right: 10px;
  }
  .form-title__part2{
    color: #313131;
  }
}

h6 span{
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.section{
  position: relative;
  width: 100%;
  display: block;
}
.full-height{
  min-height: 100vh;
}

.vh-70{
  height:75vh;
}
.center-wrap{
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}


.form-floating { 
  position: relative;
  display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.form-floating  input::-webkit-input-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-floating  input:focus:-ms-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.form-floating  input:focus::-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-floating  input:focus:-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-floating  input:focus::-webkit-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-floating {
  & input{
    border: 1px solid ;
    border-color: rgb(197, 197, 197);
  }
}
.form-control:focus ~ .addons-input{
  box-shadow: none!important;
  border-color: #CF6123;
}
.form-control:focus{
  box-shadow: none!important;
  border-color: #CF6123;
}
.btn{  
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  background-color: #CF6123;
  color: #e2e2e2;
  box-shadow: 0 8px 24px 0 rgba(99, 98, 97, 0.336);
}
.btn:active,
.btn:focus{  
  background-color: #CF6123;
  color: #5C483A;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.btn:hover{  
  background-color: #CF6123;
  color: #e2e2e2;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}

.input-with-addons{
 border-top-right-radius: 0px;
 border-bottom-right-radius:0px; 
}
.addons-input{
  border: 1px solid ;
  border-top-left-radius: 0px;
  border-bottom-left-radius:0px;
  border-left: 0px;
  border-color: rgb(197, 197, 197);
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 5px 20px!important;
  color: #6c757d;
}
.addons-input > i{
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  &:focus{
    color: #CF6123!important;
  }
  &:hover{
    color: #CF6123!important;
  }
}
.fv-plugins-message-container{
  padding: 4px 8px;
  
  // background-color: #f14f4f75;
  margin-top: 0.1rem;
  border-radius: 20px;
  color: #bb2424;
  width: 90%;
}
.form-floating>.form-control:focus~label::after{
  background-color: transparent;
}
.form-control.is-invalid ~ .addons-input{
  border-color: #dc3545;
}
.btn:disabled{
  background-color: #CF6123;
}
