*,
::before,
::after {
  box-sizing: inherit;
  background-repeat: no-repeat;
}

html {
  box-sizing: border-box;
}

.d-grid{
  display: grid!important;
}
// product page
input,textarea, select{
  font-weight: 600;
}
.img-content{
  position:relative;
  width: auto;
  max-width: fit-content;
  border-radius: 10px;
  &:hover > label > .overlay-img{
    opacity: 1;
    transform: scale(1);
  }
}
.overlay-img{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #3f3f3f70;
  border-radius: 20px;
  opacity: 0;
  transform: scale(0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
}
.v-autocomplete__selection > span.v-chip{
  color: white;
  background: rgb(var(--v-theme-primary)) !important;
}
.v-switch__track{
  box-shadow: 0px 0px 17px 2px #727272;
}
.modal__close-button{
  position: absolute; right: -2%; top:0%
}
.modal__content{
  position: initial!important; overflow: visible!important;
}
#newProduct__img{
  filter: opacity(0.4);
}
tr{
  transition: all 0.2s ease-in;
}
tr:hover{
  background: rgba(100,100,100,0.2)!important;
}
@media screen and (max-width: 780px){
  .modal__close-button{
    position: absolute; right: -5%; top: 0%
  }
  div.dropdown-menu.large{
    width:max-content;
  }

}

//  end product page
//